/* Default styling for smaller screens */
.army-list-container {
  max-height: 800px;
  overflow-y: auto;
}

/* Adjust height for larger screens */
@media (min-height: 900px) {
  .army-list-container {
    max-height: 85vh; /* Use 85% of the viewport height */
  }
}

@media (min-height: 1200px) {
  .army-list-container {
    max-height: 95vh; /* Use 90% of the viewport height */
  }
}

.armylist-title{
  text-align: center;
  font-size: 2em;
  margin-top: 0.5em;
}

.armylist-detachment{
  text-align: center;
  font-weight: bold;
}

/* Style the WL checkbox to match the button height */
.army-list-unit input[type="checkbox"] {
  width: 1.5rem; /* Adjust width to match button size */
  height: 1.5rem; /* Adjust height to match button size */
  margin-right: 0.5rem; /* Space between checkbox and text */
  vertical-align: middle; /* Align vertically with text and buttons */
  cursor: pointer; /* Add pointer cursor for better UX */
}

/* Sidebar button styles */
.sidebar-button {
  display: flex;
  justify-content: flex-end; /* Align the button to the right */
  padding: 10px;
  background: transparent; /* Remove the background color */
}

.sidebar-button .material-symbols-outlined {
  background: transparent; /* Ensure the icon itself has no background */
  color: #000; /* Set the arrow color to black */
  border: none; /* Remove any border */
  font-size: 24px; /* Adjust the size of the icon */
  cursor: pointer; /* Add a pointer cursor for better UX */
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.sidebar-button .material-symbols-outlined:hover {
  color: #007bff; /* Change color on hover */
}

/* Style for section titles (e.g., Ranged Weapons, Melee Weapons, Enhancements) */
.army-list-section-title {
  font-size: 1.2rem; /* Match the size of the Enhancements title */
  font-weight: bold;
  margin-bottom: 8px;
}

/* Style for the text of weapons and enhancements */
.army-list-item-text {
  font-size: 0.9rem; /* Match the size of the weapons text */
  margin-left: 8px; /* Add spacing for better alignment */
}

/* Style for the quantity display to ensure consistent width */
.weapon-quantity {
  display: inline-block;
  width: 2rem; /* Fixed width to accommodate up to "99" */
  text-align: center; /* Center-align the number */
}
