@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);
.container.text-center{
    margin: 0%;
}
@layer demo {
  .rounded-border-gradient {
    inline-size: var(--size-content-1);
    aspect-ratio: var(--ratio-widescreen);
    border: solid var(--size-2) transparent;
    border-radius: var(--radius-4);
    padding: 10px;
    background: 
      linear-gradient(var(--surface-1), var(--surface-1)) padding-box, 
      var(--gradient-1) border-box;
  }
}

@layer demo.support {
  body {
    display: grid;
    gap: var(--size-5);
  } 
}

.form-check{
    margin-left: 5px;
    margin-right: 6px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* Add styles for the sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Adjust the initial width of the sidebar */
    width: 300px; /* Adjust the width of the sidebar */
    height: 100%;
    background-color: #f5f5f5;
    transition: right 0.3s ease-in-out;
  }
  
  .sidebar.minimized {
    right: -300px; /* Adjust the width to match the minimized state */
  }
  
  .sidebar.expanded {
    right: 0;
    width: 320px;

  }
  
  /* Add styles for the toggle button */
  .sidebar-toggle {
    background:transparent;
    border:none;
    width:30px;
    height:30px;
    cursor:pointer; 
    outline:0;
  }

  .sidebar-button{
    position: absolute;
    margin-top: 12px
  }
  
  .sidebar.expanded .sidebar-toggle {
    right: 280px; /* Adjust the position when sidebar is expanded */
  }
  
  
  .unit-card {
    flex: 1 0 calc(25% - 16px); /* Adjust the width as needed */
    display: flex;
    flex-direction: column; /* Make the card content stack vertically */
    border-style: solid;
    border-radius: 50px;
    padding: 10px;
  }

  .card-img-top{
    max-height: 160px;
    max-width: auto;
  }
  .material-symbols-outlined{
    align-self: center;
  }

  .new-army-button{
    margin-left: 10px;
  }

  .card-body{
    margin-top: 10px;
    height: 180px;
    max-width: auto;
  }
  
  .armylist-headers{
    text-align: center;

  }

  .total-points{
    text-align: center;
  }

.wargear-headers{
    margin-top: 5px;
}
